
extends ../layouts/index

block content 
    div(class='py-10')
        h1(class='text-4xl my-10 font-extrabold text-center') Bienes 
            span(class='font-normal') Raíces
        div(class='text-center text-2xl font-extrabold')= page 
        
        p(
            class= error ? 'bg-red-300 border border-red-500 text-red-700' : 'bg-green-300 border border-green-500 text-green-700'
            ).relative.mx-auto.max-w-md.py-5.mt-5.text-center.font-extrabold.rounded= message
        
        if !error 
            a(
                href='/auth/login' 
                class='text-center font-bold text-sm text-slate-600 mt-10 block '
            ) < Ir hacia inicio de sesión
