doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Bienes Raices | #{page}
    body(class='min-h-screen bg-gray-50') 
        main(class='mx-auto container mt-10 px-2')
            block content

        footer(class='bg-gray-900 text-center text-white p-4 mt-10')
            p &copy; 2024 Bienes Raices
