
extends ../layouts/index

block content
    div(class='py-10')
        h1(class='text-4xl my-10 font-extrabold text-center') Bienes 
            span(class='font-normal') Raices
        h2(class='text-center text-2xl font-extrabold')= page
        
        p(class='relative mx-auto max-w-md bg-gray-300 border border-gray-500 text-gray-700 py-5 mt-5 text-center font-extrabold rounded')= message
        
