
header(class='bg-white p-4 shadow-md')
    div(class='container mx-auto flex justify-between items-center')
        a(class='text-decoration-none' href='/my-properties')
            h1(class='text-2xl font-extrabold text-center') Bienes 
                span(class='font-normal') Raíces
            
            nav(class=' text-sm md:flex md:items-center md:gap-3 font-bold hidden')
                a( href='/auth/register' ) Registrarme
                a( href='/auth/login' ) Iniciar Sesión

div(class='bg-gray-200 p-5 hidden shadow lg:block')
    div(class='container mx-auto flex justify-between items-center')
        a(href='/categories/1' class='text-sm font-bold uppercase text-gray-700') Casas 
        a(href='/categories/2' class='text-sm font-bold uppercase text-gray-700') Departamentos 
        a(href='/categories/4' class='text-sm font-bold uppercase text-gray-700') Bodegas 
        a(href='/categories/5' class='text-sm font-bold uppercase text-gray-700') Terrenos 
        a(href='/categories/6' class='text-sm font-bold uppercase text-gray-700') Cabañas 

        //- nav(class=' text-sm md:flex md:items-center md:gap-3 font-bold ')
        //-     a( href='/my-properties' ) Mis Propiedades
        //-     a( href='#' ) Mi Perfil
        //-     a( href='/auth/logout' class='bg-red-600 hover:bg-red-800 py-1 px-2 rounded text-white' ) Cerrar Sesión